@import "@ionic/angular/css/ionic.bundle.css";
@import "./theme/variables";

// @import "@ionic/angular/css/palettes/dark.system.css";
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

ion-app, ion-router-outlet {
  height: 100%;
  width: 100%;
}

ion-router-outlet {
  display: block;
}


:root {
  --ion-background-color: #ffffff;
  --ion-text-color: #111111;

  --ion-item-background: #ffffff;
  --ion-card-background: #ffffff;
  --ion-toolbar-background: #ffffff;
  --ion-toolbar-color: #111111;
}

ion-content {
  --background: var(--ion-background-color);
}

