/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
@import "@ionic/angular/css/palettes/dark.class.css"; 
// @import "@ionic/angular/css/palettes/dark.system.css";
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

ion-app, ion-router-outlet {
  height: 100%;
  width: 100%;
}

ion-router-outlet {
  display: block;
}


:root {
  --ion-background-color: #ffffff;
  --ion-text-color: #111111;

  --ion-item-background: #ffffff;
  --ion-card-background: #ffffff;
  --ion-toolbar-background: #ffffff;
  --ion-toolbar-color: #111111;
}

ion-content {
  --background: var(--ion-background-color);
}

.ion-page.ion-page-invisible {
  opacity: 1 !important;
  transform: none !important;
}