@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import "./theme/variables";

/* NO dark.system su Pages */
/* @import "@ionic/angular/css/palettes/dark.system.css"; */

html, body { height: 100%; width: 100%; margin: 0; padding: 0; }
ion-app, ion-router-outlet { height: 100%; width: 100%; }
ion-router-outlet { display: block; }

